<mat-card>

    <button mat-icon-button matTooltip="Bold" (click)="cmd('b')" tabindex="-1">
        <mat-icon>format_bold</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Italic" (click)="cmd('i')" tabindex="-1">
        <mat-icon>format_italic</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Underline" (click)="cmd('u')" tabindex="-1">
        <mat-icon>format_underline</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Strikethrough" (click)="cmd('s')" tabindex="-1">
        <mat-icon>format_strikethrough</mat-icon>
    </button>


    <button mat-icon-button disabled><mat-icon>more_vert</mat-icon></button>


    <button mat-icon-button matTooltip="Subscript" (click)="cmd('sub')" tabindex="-1">
        <mat-icon>subscript</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Superscript" (click)="cmd('sup')" tabindex="-1">
        <mat-icon>superscript</mat-icon>
    </button>


    <button mat-icon-button disabled><mat-icon>more_vert</mat-icon></button>


    <button mat-icon-button matTooltip="Align Left" (click)="cmd('aL')" tabindex="-1">
        <mat-icon>format_align_left</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Align Center" (click)="cmd('aC')" tabindex="-1">
        <mat-icon>format_align_center</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Align Right" (click)="cmd('aR')" tabindex="-1">
        <mat-icon>format_align_right</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Align Justified" (click)="cmd('aJ')" tabindex="-1">
        <mat-icon>format_align_justify</mat-icon>
    </button>


    <button mat-icon-button disabled><mat-icon>more_vert</mat-icon></button>


    <button mat-icon-button matTooltip="Increase Indentation" (click)="cmd('ii')" tabindex="-1">
        <mat-icon>format_indent_increase</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Decrease Indentation" (click)="cmd('di')" tabindex="-1">
        <mat-icon>format_indent_decrease</mat-icon>
    </button>


    <button mat-icon-button disabled><mat-icon>more_vert</mat-icon></button>


    <button mat-icon-button matTooltip="Unordered List" (click)="cmd('ul')" tabindex="-1">
        <mat-icon>format_list_bulleted</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Ordered List" (click)="cmd('ol')" tabindex="-1">
        <mat-icon>format_list_numbered</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Horizontal Rule" (click)="cmd('hr')" tabindex="-1">
        <mat-icon>horizontal_rule</mat-icon>
    </button>


    <button mat-icon-button disabled><mat-icon>more_vert</mat-icon></button>


    <!-- 
        
        Borders?
        
        Quote?

        Code Snippet?
        
        Colors? Background? Foreground?
        
        Font Size? 
        
        Headings? (H1-H6)

        Custom Headings? Save style as Heading?
        
        Insert Image?
        
        Insert Video?

        Doodles?

        Show formatting symbols?

        Hide toolbar?
        
    -->
    <button mat-icon-button matTooltip="Undo" (click)="cmd('undo')" tabindex="-1">
        <mat-icon>undo</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Redo" (click)="cmd('redo')" tabindex="-1">
        <mat-icon>redo</mat-icon>
    </button>


    <button mat-icon-button disabled><mat-icon>more_vert</mat-icon></button>


    <button mat-icon-button matTooltip="Clear Formatting" (click)="cmd('clr')" tabindex="-1">
        <mat-icon>format_clear</mat-icon>
    </button>

</mat-card>
