<body *ngIf="loaded; else loading_bar">
    <!-- The status bar should be here with share button and active users and what not -->
    <app-document-editor-main
        [uuid]="uuid"
        [loaded]="loaded"
        [incomingDocInit]="incomingDocInit"
        [incomingDataFlag]="incomingDataFlag"
        [incomingDataDiff]="incomingDataDiff"
        [incomingDocVersions]="incomingDocVersions"
        (outgoingDataDiffRequest)="sendLocalDiff($event)"
        (confirmDiffReceipt)="confirmDiffReceipt()"
        (requestHistories)="requestDocumentHistory()"> 
    </app-document-editor-main>
</body>

<ng-template #loading_bar>
    <body>
        <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
    </body>
</ng-template>